@import url(/src/css/text_param.css);

body {
	background-color: rgb(255, 255, 224);
	margin: 60px;
	font-size: 10pt;
}

.image_class {
	display: block;
	margin: 0 auto;
	width: auto;
}

hr {
	width: 50%;
}
